<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>GetCategoriesServlet</servlet-name>
    <servlet-class>com.raincent.web.servlet.GetCategoriesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetSourcesListServlet</servlet-name>
    <servlet-class>com.raincent.web.servlet.GetSourcesListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetNewsServlet</servlet-name>
    <servlet-class>com.raincent.web.servlet.GetNewsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostCommentServlet</servlet-name>
    <servlet-class>com.raincent.web.servlet.PostCommentServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>GetUserServlet</servlet-name>
    <servlet-class>com.raincent.web.servlet.GetUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetQuestionServlet</servlet-name>
    <servlet-class>com.raincent.web.servlet.GetQuestionServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>GetCategoriesServlet</servlet-name>
    <url-pattern>/getCategories</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSourcesListServlet</servlet-name>
    <url-pattern>/getSourcesList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetNewsServlet</servlet-name>
    <url-pattern>/getNews</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetQuestionServlet</servlet-name>
    <url-pattern>/getQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostCommentServlet</servlet-name>
    <url-pattern>/comment</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>GetUserServlet</servlet-name>
    <url-pattern>/getUser</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
    <servlet>
        <servlet-name>GetBannerListServlet</servlet-name>
        <servlet-class>com.raincent.web.servlet.GetBannerListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetBannerListServlet</servlet-name>
        <url-pattern>/getBannerList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetNewsListServlet</servlet-name>
        <servlet-class>com.raincent.web.servlet.GetNewsListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetNewsListServlet</servlet-name>
        <url-pattern>/getNewsList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetQueListServlet</servlet-name>
        <servlet-class>com.raincent.web.servlet.GetQueListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetQueListServlet</servlet-name>
        <url-pattern>/getQueList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostSearchServlet</servlet-name>
        <servlet-class>com.raincent.web.servlet.PostSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostSearchServlet</servlet-name>
        <url-pattern>/postSearch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetBannerServlet</servlet-name>
        <servlet-class>com.raincent.web.servlet.GetBannerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetBannerServlet</servlet-name>
        <url-pattern>/getBanner</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetShareWeiXinServlet</servlet-name>
        <servlet-class>com.raincent.web.servlet.GetShareWeiXinServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetShareWeiXinServlet</servlet-name>
        <url-pattern>/getShareWeiXin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetShareWeiBoServlet</servlet-name>
        <servlet-class>com.raincent.web.servlet.GetShareWeiBoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetShareWeiBoServlet</servlet-name>
        <url-pattern>/getShareWeibo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostLogonServlet</servlet-name>
        <servlet-class>com.raincent.web.servlet.PostLogonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostLogonServlet</servlet-name>
        <url-pattern>/logon</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostRegisterServlet</servlet-name>
        <servlet-class>com.raincent.web.servlet.PostRegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostRegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetFavListServlet</servlet-name>
        <servlet-class>com.raincent.web.servlet.GetFavListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetFavListServlet</servlet-name>
        <url-pattern>/favlist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostUpdateInfoServlet</servlet-name>
        <servlet-class>com.raincent.web.servlet.PostUpdateInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostUpdateInfoServlet</servlet-name>
        <url-pattern>/updateinfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostUpdateCoinServlet</servlet-name>
        <servlet-class>com.raincent.web.servlet.PostUpdateCoinServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostUpdateCoinServlet</servlet-name>
        <url-pattern>/updatecoin</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PostSignInServlet</servlet-name>
        <servlet-class>com.raincent.web.servlet.PostSignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostSignInServlet</servlet-name>
        <url-pattern>/updatesignin</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PostUpdatePwdServlet</servlet-name>
        <servlet-class>com.raincent.web.servlet.PostUpdatePwdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostUpdatePwdServlet</servlet-name>
        <url-pattern>/updatepwd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetAllQuestionServlet</servlet-name>
        <servlet-class>com.raincent.web.servlet.GetAllQuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllQuestionServlet</servlet-name>
        <url-pattern>/getallquestion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostAddFavServlet</servlet-name>
        <servlet-class>com.raincent.web.servlet.PostAddFavServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostAddFavServlet</servlet-name>
        <url-pattern>/addfav</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostWhetherFav</servlet-name>
        <servlet-class>com.raincent.web.servlet.PostWhetherFav</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostWhetherFav</servlet-name>
        <url-pattern>/wtfav</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostDelFavServlet</servlet-name>
        <servlet-class>com.raincent.web.servlet.PostDelFavServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostDelFavServlet</servlet-name>
        <url-pattern>/delfav</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostImageServlet</servlet-name>
        <servlet-class>com.raincent.web.servlet.PostImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostImageServlet</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostQuestionServlet</servlet-name>
        <servlet-class>com.raincent.web.servlet.PostQuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostQuestionServlet</servlet-name>
        <url-pattern>/question</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetAllCommentServlet</servlet-name>
        <servlet-class>com.raincent.web.servlet.GetAllCommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllCommentServlet</servlet-name>
        <url-pattern>/getallcomment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetSendPwdServlet</servlet-name>
        <servlet-class>com.raincent.web.servlet.GetSendPwdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSendPwdServlet</servlet-name>
        <url-pattern>/sendpwd</url-pattern>
    </servlet-mapping>
</web-app>
